@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@200;400;500;600;700;800&display=swap');
@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";


$main-color: #8a5aa1;
$main-color-light: #c97cd1;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Locator', sans-serif;
    line-height: 1 !important;
    font-weight: 900 !important;
    text-shadow: 0 1px darkorchid;
}

h1 {
    font-size: 67px;
}

h2 {
    font-size: 44px;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.2;
}

p:last-of-type {
    margin-bottom: 0;
}

/* Site Header */
.site-header {
    position: fixed;
    width: 100%;
    z-index: 99;

    transition: background-color 0.2s ease-in-out;

    .logo-header {
        img {
            width: 50%;
        }
    }
}

.hide-desktop {
    display: none !important;
}

.site-header.sticky {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-expand-lg {
    padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-link {
    font-size: 18px;
    color: var(--bs-white);
    text-transform: uppercase;
    text-shadow: 0 1px darkorchid;
}

.nav-link:hover {
    color: #8a5aa1;
}

.cta-header span,
.cta-header a {
    display: block;
}

.cta-header {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 0 2px darkorchid;
}

.cta-header span,
.cta-header-locator label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.cta-header-locator {
    width: 100%;
    max-width: 160px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.cta-header-locator input[type="text"] {
    width: 72%;
    height: 43px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.cta-header-locator input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}

.cta-header-locator input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

.cta-header-locator input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}

.cta-header-locator input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.cta-header-locator.tab-show {
    display: none;
}

.btn-nav {
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    background: #8a5aa1;
    color: #fff !important;
    text-decoration: none;
    padding: 5px 15px 5px 25px;
    box-shadow: 0 5px 6px rgba(201 124 209);
    border-radius: 3px;
}

.btn-nav:hover {
    box-shadow: unset !important;
    transform: scale(0.96);
}

/* Site Footer */
.site-footer {
    font-size: 23px;
    color: #fff;
    background-color: #321f3b;
    position: relative;
}

.site-footer::before {
    content: '';
    width: 100%;
    max-width: 100%;
    height: 5px;
    background: #1BA2EA;
    background: -moz-linear-gradient(to right, #1BA2EA 0%, #7660B6 50%, #DE137A 100%);
    background: -webkit-linear-gradient(to right, #1BA2EA 0%, #7660B6 50%, #DE137A 100%);
    background: linear-gradient(to right, #1BA2EA 0%, #7660B6 50%, #DE137A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1BA2EA', endColorstr='#DE137A', GradientType=1);
    position: absolute;
    top: 0;
    left: 0;
}

.site-footer ul li > a {
    color: #fff;
    text-decoration: none;
}

.site-footer ul li {
    list-style-type: none;
}

.site-footer ul {
    padding-left: 0;
}

.text-right {
    text-align: right;
}

.top-widget {
    padding-block: 2em;
}

.bottom-widgets {
    border-top: 1px solid #707070;
    padding: 32px 0;
}

#home-hero {

    &::after {
        background-color: rgba(113, 60, 125, .38);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .wrap-grad {
        background: linear-gradient(135deg, rgba(231, 13, 123, .8), rgba(23, 168, 240, .8));
        bottom: 0;
        padding-top: 10px;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .banner-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        object-fit: contain;

        img {
            width: 100%;
            height: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.site-page-banner {
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 988px;
    position: relative;
}

.site-page-banner::before,
.site-page-banner::after {
    content: '';
    position: absolute;
}

.site-page-banner .container {
    position: relative;
    z-index: 2;
}

#home-hero p {
    font-size: 25px;
    font-weight: 300;
}

#home-hero p > span {
    color: $main-color;
    text-shadow: #22172b 0px -2px 3px;
}

.pd-80 {
    padding: 80px 0;
}

#pills-tab.nav-pills .nav-link {
    font-size: 16px;
    color: #8a5aa1;
    border-radius: 0;
    text-transform: none;
    line-height: 1;
    width: 100%;
    height: 100%;
}

#pills-tab.nav-pills .nav-link.active {
    color: #fff;
    background-color: #8a5aa1;
}

#pills-tab.nav-pills .nav-item {
    width: 100%;
    max-width: 133px;
    margin: 0 auto;
    border: 2px solid #8a5aa1;
    border-radius: 10px;
}

.process-main {
    padding: 70px 0;
}

#v-pills-tab .nav-link,
#accordionProcess .btn-link.collapsed,
#accordionProcess .btn-link:not(.collapsed),
#accordionService .btn-link.collapsed,
#accordionService .btn-link:not(.collapsed) {
    font-family: 'Locator', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #959595;
    border: 2px solid #EBEBEB;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 25px;
    position: relative;
    text-align: center;
    text-transform: none;
}

#v-pills-tab .nav-link:last-of-type,
#accordionProcess .btn-link,
#accordionProcess .btn-link:not(.collapsed),
#accordionService .btn-link,
#accordionService .btn-link:not(.collapsed) {
    margin-bottom: 0 !important;
}

#v-pills-tab .nav-link.active,
#accordionProcess .btn-link:not(.collapsed),
#accordionService .btn-link:not(.collapsed) {
    background-color: $main-color;
    color: #fff;
    border: 2px solid $main-color-light;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.10);
}

#v-pills-tab {
    margin-right: 50px !important;
    padding-right: 50px;
    border-right: 1px solid #EBEBEB;
}

#v-pills-tabContent {
    width: 67%;
}

.step-text {
    color: #E0127A;
    font-size: 16px;
    font-weight: 700;
}

.step-content h3 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 36px;
    font-weight: 700 !important;
    text-transform: uppercase;
}

#faq {
    background-position: left center;
    padding: 0 0 140px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

#faq .h2 {
    color: #000;
}

.underlined {
    position: relative;
}

#accordion .card:not(:last-of-type) {
    margin-bottom: 20px;
}

#accordion .card {
    border: 2px solid $main-color;
}

#accordion .card-header {
    border: none;
    border-radius: 3px;
    background: transparent;
    padding: 8px 44px;
}

#accordion .card-header h5 {
    font-family: "Gill Sans", sans-serif !important;
    position: relative;
    font-size: 24px;
}

#accordion .card-header h5 a::after {
    content: '';
    float: right;
    margin-top: 7px;
    width: 0;
    height: 0;
    border-left: 10.5px solid transparent;
    border-right: 10.5px solid transparent;
}

#accordion .card-header h5 a {
    text-decoration: none;
    display: block;
    position: relative;
}

#accordion .card-body {
    padding: 15px 44px;
}

.text-primary {
    color: $main-color !important;
}

.lh1 {
    line-height: 1;
}

.pink-text {
    color: #E0127A;
}

#why-bree .pink-text.underlined {
    display: inline-block;
}

#why-bree {
    padding: 130px 0;
}

#why-bree .text-dark {
    color: #0F0701;
}

#why-bree .h2 {
    line-height: 1.2 !important;
    font-weight: 700 !important;
}

#why-bree .row {
    padding: 60px 0;
    border-bottom: 2px solid #DE137A;
    margin: 0 45px;
}

#why-bree .row:last-of-type,
#why-bree .row:first-of-type {
    border-bottom: 0;
}

#why-bree .col-bg {
    background-size: cover;
    min-height: 346px;
}

#why-bree .row .col-bg {
    width: calc(50% - 25px);
}

#why-bree .row {
    justify-content: space-between;
}

#testimonials {
    background-size: cover;
    background-position: center;
    background-image: url(../images/testimonial-bg.png), linear-gradient(124deg, rgba(222, 19, 122, 1) 0%, rgba(27, 162, 234, 1) 100%);
    background-blend-mode: luminosity;
    padding: 80px 0;
}

#testimonials .slider {
    background: $main-color;
    padding: 44px;
}

#testimonials .slider img {
    margin: 0 auto 16px;
}

#testimonials .slider .slick-arrow {
    font-size: 0;
    background: transparent;
    border: 0;
}

#testimonials .slider .slick-next::before {
    content: '\f054';
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 20px;
    color: #fff;
}

#testimonials .slider .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -50px;
}

#testimonials .slider .slick-prev::before {
    content: '\f053';
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 20px;
    color: #fff;
}

#testimonials .slider .slick-prev {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -50px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 15px;

    p {
        margin-bottom: 0;
        line-height: 1;
    }

    a {
        color: #fff !important;
    }
}

@media only screen and (max-width: 991px) {
    .copyright p {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 480px) {
    .copyright {
        display: block;

        p:last-of-type {
            padding-left: 0;
            margin-left: 0;
            border-left: 0;
        }

        a {
            display: block;
            padding: 10px 0 0;
        }

    }
}

#home-hero a.button {
    max-width: 533px;
    text-align: center;
}

#our-products .tab-pane h3 {
    margin-bottom: 20px;
}

.z2 {
    position: relative;
    z-index: 2;
}

#why-bree .col-text p:first-of-type {
    padding-top: 20px;
}

.site-footer ul li {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
}

.quick-links ul li {
    margin: 0 30px;
}

.site-footer {
    font-size: 26px !important;
}

.bottom-widgets {
    padding: 37px 0 26px;
}

.site-footer .quick-links ul {
    margin-bottom: 37px;
}

.site-footer .quick-links {
    border-bottom: 1px solid #707070;
}

.site-footer .social-links {
    margin: 49px 29px;
}

.underlined::before {
    display: none !important;
}

@media only screen and (max-width: 1400px) {

    .cta-header-mobile {
        display: block;
    }

    .site-footer {
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 1280px) {
    #testimonials .row {
        margin: 0 30px !important;
    }
    .nav-link {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) {
    #pills-tab.nav-pills .nav-item {
        max-width: 120px;
    }
    #why-bree {
        padding: 80px 0;
    }
    #why-bree .row {
        padding: 40px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 22px !important;
    }
    .navbar-brand > img {
        height: 65px;
    }
    .navbar-expand-lg .navbar-nav {
        max-width: 488px;
    }
    .bottom-widgets .col-md-6 > img {
        height: 100px;
    }
}

@media only screen and (max-width: 1140px) {
    .nav-link, .cta-header .tel-num {
        font-size: 16px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 1060px) {
    .navbar-expand-lg .navbar-nav {
        max-width: 560px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 8px;
        padding-left: 8px;
    }
    .bottom-widgets .col-md-6 > img {
        height: 85px;
    }
    .site-footer {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 991px) {
    #pills-tab.nav-pills .nav-item {
        max-width: calc(25% - 16px);
        margin: 10.5px auto;
    }
    #faq #accordion .card-header,
    #faq #accordion .card-body {
        padding: 18px 12px;
    }
    #faq #accordion .card-header h5 {
        font-size: 15px;
    }
    #faq, .pd-80 {
        padding: 50px 0 60px;
    }
    #faq .h2 span {
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
    #faq #accordion .card-header h5 a::after {
        margin-top: -7px;
    }
    #locations {
        padding: 55px 0 50px;
    }
    #why-bree {
        padding: 50px 0;
    }
    #why-bree .row {
        padding: 50px 0;
        margin: 0;
    }
    #why-bree .row:not(:first-of-type) .h2,
    #accordionProcess .step-content h3.mb-3,
    #accordionService .tab-content-wrap h3,
    #our-products .tab-pane h3 {
        font-size: 21px;
    }
    h1 {
        font-size: 48px;
    }
    .h2, h2,
    #testimonials p.h3 {
        font-size: 24px;
    }
    #testimonials {
        padding: 35px 0 30px;
    }
    .process-main {
        padding: 55px 0 60px;
    }
    #testimonials .h2.mb-5 {
        margin-bottom: 30px !important;
    }
    #testimonials {
        padding: 40px 0 20px;
    }
    .step-text {
        font-size: 12px;
    }

    .site-page-banner {
        min-height: 540px;
    }
    .navbar-toggler {
        border: 1px solid rgba(255, 255, 255, 0.15);
        position: absolute;
        left: unset;
        right: 13px;
        top: 13px;
        padding: 5.5px;
        box-shadow: unset !important;
    }
    .navbar-toggler-icon {
        position: relative;
    }
    .navbar-toggler-icon::before {
        content: "\f0c9";
        font-weight: 900;
        color: #fff;
        margin-top: 5px;
        display: block;
    }
    .site-header {
        background: #000 !important;
    }
    .tab-hide {
        display: none;
    }
    .cta-header-locator.tab-show {
        display: block;
    }
    .cta-header-locator.tab-show {
        max-width: 36%;
        margin-right: 55px;
        margin-top: 5px !important;
    }
    .cta-header-locator.tab-show label,
    .cta-header-locator.tab-show input[type="text"] {
        width: 50%;
    }
    .cta-header-locator.tab-show button.pink-btn {
        height: 43px;
    }
    .cta-header-locator.tab-show label {
        line-height: 1;
    }
    .navbar-brand.logo-header img {
        height: 43px;
    }
    .navbar {
        padding-top: 8px;
    }
    .navbar-expand-lg .navbar-nav {
        max-width: 100%;
    }
    .navbar-collapse .my-2.cta-header {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
    .site-footer .bottom-widgets p {
        font-size: 18px;
    }
    .site-footer .sf-title {
        font-size: 18px;
    }
    .site-footer .top-widget,
    .site-footer {
        font-size: 16px;
    }
    #why-bree .row:last-of-type {
        padding-bottom: 0;
    }
    .bottom-widgets .col-md-6 > img {
        height: 70px;
    }

    .site-footer .social-links {
        margin: 18px 14px;
    }
    .bottom-widgets {
        padding: 23px 0 17px;
    }
    .site-footer .quick-links ul {
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 860px) {
    #franchising-hero h1 {
        font-size: 36px;
    }
    #testimonials .row {
        margin: 0 !important;
    }
    #testimonials .slider .slick-next {
        right: 15px;
    }
    #testimonials .slider .slick-prev {
        left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    #testimonials p {
        text-align: center;
    }
    #accordionProcess .card, #accordionProcess .card-header,
    #accordionService .card, #accordionService .card-header {
        padding: 0;
        background-color: transparent;
        border-bottom: 0;
    }
    #accordionProcess .card-header .btn,
    #accordionService .card-header .btn {
        width: 100%;
        text-decoration: none;
        border-radius: 3px 3px 0 0;
        padding: 9px 15px;
    }
    #accordionProcess .card,
    #accordionService .card {
        margin-bottom: 13px;
        border: none;
    }
    #accordionProcess .card:last-of-type,
    #accordionService .card:last-of-type {
        margin-bottom: 0;
    }
    #accordionProcess .collapse.show,
    #accordionService .collapse.show {
        border: 1px solid #1BA2EA;
    }
    #faq #accordion .card-header h5 {
        font-size: 16px;
    }
    #faq #accordion .card {
        max-width: 100%;
        display: block;
    }
    #faq #accordion .card:nth-of-type(even) {
        margin-left: 0;
    }
    #faq #accordion .card:nth-of-type(odd) {
        margin-right: 0;
    }
    #faq #accordion .card-header h5 a::after {
        margin-top: 7px;
    }
    #why-bree .col-text {
        max-width: 100%;
        margin: 25px auto 0;
    }
    #testimonials {
        padding: 55px 0 20px;
    }
    .d-mobile-none {
        display: none !important;
    }
    #pills-tab.nav-pills .nav-item {
        max-width: calc(50% - 16px);
    }
    #pills-tabContent img {
        margin: 0 auto 15px;
        display: block;
    }
    #pills-tabContent .tab-content-wrap {
        max-width: 520px;
        margin: 0 auto;
    }
    #pills-tabContent .button {
        text-align: center;
    }
    #home-hero .col-md-9 {
        text-align: center;
    }
    #home-hero a.button {
        margin-left: auto;
        margin-right: auto;
    }
    #testimonials .col-md-6 {
        margin-bottom: 20px;
    }
    .cta-header-locator.tab-show {
        display: none;
    }
    .site-header .navbar-brand {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 641px) {
    #testimonials .slider .slick-next {
        right: 20px;
    }
    #testimonials .slider .slick-prev {
        left: 20px;
    }
    #testimonials .slider {
        padding: 44px 50px;
    }
    #why-bree .col-text p:first-of-type {
        padding-top: 10px;
    }
    #sucesspop .modal-content {
        padding: 40px 20px 20px;
    }
    #sucesspop .modal-body h2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 38px;
    }
    .site-footer .bottom-widgets p {
        font-size: 3vw;
    }
    .site-footer .row .col-sm-6 {
        max-width: 50%;
        margin-bottom: 15px;
    }
    .site-footer .row .col-sm-6:nth-of-type(3),
    .site-footer .row .col-sm-6:last-of-type {
        margin-bottom: 0;
    }
    .d-sm-block {
        display: block !important;
    }
}

@media only screen and (max-width: 480px) {
    #faq #accordion .card-header h5 a {
        padding-right: 15px;
    }
    #faq #accordion .card-header h5 a::after {
        margin-top: -7px;
        margin-right: -15px;
    }
    .site-footer .bottom-widgets .col-sm-6 {
        text-align: center;
    }
    .site-footer .bottom-widgets p {
        text-align: center;
        font-size: 18px;
    }
    #pills-tabContent .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 300px;
    }
    .quick-links ul li {
        display: block;
    }
    .bottom-widgets {
        padding: 22px 0 30px;
    }
    .site-footer .quick-links ul {
        margin-bottom: 22px;
    }
    .site-footer .social-links {
        margin: 32px 20px;
    }
}

@media only screen and (max-width: 380px) {
    #pills-tab.nav-pills .nav-item {
        margin: 5px auto;
    }
    #pills-tab.nav-pills .nav-item .nav-link {
        padding: 0.5rem !important;
    }
}

form.loading button[type="submit"] {
    background: gray;

    .spinner-border {
        display: inline-block;
    }
}

.phone > a:hover {
    text-decoration: none;
}

/* -- About Us -- */

.offset-top-menu {
    background: black;
    padding-top: 120px;
}

.background-blue {
    background-color: $main-color;
}

.banner-text {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;


}

.owner-photo-container {
    padding-left: 0;
}

.about-main {

    padding-top: 40px;
    padding-bottom: 75px;

    .about-title {
        text-align: left;
        padding-bottom: 30px;
    }

    .header {
        line-height: normal;
    }
}

@include media-breakpoint-down(sm) {

    .about-us-banner {
        margin-bottom: 26px;
    }


    .about-main {
        padding-bottom: 0;

        .about-title {
            text-align: center;
            padding: 20px 0;

        }

        .header {
            padding-top: 1px;
        }

        .owner-photo-container {
            padding: 0;
            text-align: center;
        }

        .owner-text-container {
            background: none;
            padding: 0 27px;
            text-align: justify;
        }

        .button {
            width: 100%;
            text-align: center;
        }

    }

    .about-gallery {
        padding-top: 50px;
        padding-bottom: 25px;
    }
}

@include media-breakpoint-between(sm, lg) {
    .about-main {

        padding-bottom: 35px;

        .about-title {
            text-align: center;
            padding: 20px 0;

        }

        .owner-photo-container {
            padding-left: 20px;
        }

        .owner-text-container {
            background: none;
            padding: 0 27px;
            text-align: justify;
        }
    }

    .about-gallery {
        padding: 40px 20px;
    }
}

#faq {
    h5 {
        font-weight: normal !important;
        color: $main-color;
        font-size: 20px !important;
    }

    .card-body {
        font-size: 20px !important;
    }

}

.card-header {
    .fas {
        font-size: xxx-large;
    }
}

@include media-breakpoint-down(sm) {

    #faq {
        h5 {
            font-weight: normal !important;
            font-size: 16px !important;
            padding-right: 7px;
        }

        .card-body {
            font-size: 15px !important;
        }

        .card-header {
            .fas {
                font-size: 24px;
            }
        }
    }
}


@include media-breakpoint-between(sm, lg) {

    #faq {
        h5 {
            font-weight: normal !important;
            font-size: 17px !important;
            padding-right: 7px;
        }

        .card-body {
            font-size: 16px !important;
        }

        .card-header {
            .fas {
                font-size: 24px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .right-arrow .next {
        display: flex;
    }
}

/*Location-About*/

.slider-holder {


    .arrow-container {
        width: 10%;
        display: flex;
        align-items: center;
    }

    .right-arrow {
        justify-content: end;
    }

    .prev, .next {
        width: 20%;

        &:hover {
            cursor: pointer;
        }
    }

    .next {
        justify-content: end;
    }

    .slick-slider {
        width: 80%;
    }
}

.about-text {
    margin-top: 1em;
}


@include media-breakpoint-between(sm, lg) {
    .hide-tablet {
        display: none;
    }
    .show-tablet {
        display: block !important;
    }

}

@include media-breakpoint-down(sm) {
    .header {
        font-size: 20px;
        text-align: justify;
        padding-bottom: 1em;
    }
}

.about-us {
    padding-bottom: 100px;
}

.owner-text-container {
    justify-content: center;
}


@include media-breakpoint-down(lg) {
    .site-header .logo-header img {
        width: 100%!important;
    }
}

@include media-breakpoint-between(sm, lg) {
    .site-header {
        .cta-header-locator {
            padding-bottom: 0;
            margin-right: 0;
        }
    }
    .site-page-banner {
        padding-top: 5em;
    }
}

.about-us-text {
    margin-bottom: 2rem;

}

@include media-breakpoint-down(sm) {
    .site-header {
        .navbar-expand-lg {
            justify-content: center;
        }

        .logo-header {
            margin-inline: 10px 20px;
        }
    }
    .site-page-banner {
        padding-top: 5em;
    }
}

.product-check-btn {
    margin-top: 2em;
    padding: 10px 25px;
}


.careers-form {
    padding: 47px 66px 65px;
    background: #fff;
    text-align: left;
    color: #000;
    box-shadow: 5px -6px 15px lightblue;
}

.careers-form input {
    border: 1px solid #D9D9D9;
    color: #000;
    margin: 9px 0;
    padding: 11px 10px;
}

.careers-form input::placeholder {
    color: #000;
}

.careers-form label {
    display: none;
}

.careers-form label.font-weight-bold {
    font-weight: 700;
}

.careers-form h2 {
    font-family: "century_gothicregular", sans-serif;
    font-size: 42px !important;
    color: #000 !important;
}

.careers-form .form-check {
    padding-left: 3rem;
}

.careers-form button.btn-gradient {
    width: 100%;
}

#careers-hero {
    background-image: url(/resources/images/Bel_pink_and_blue_velvet_cake_ec4dfc6e-f285-4263-a9f4-0514a6b22c95.png);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    font-size: 24px;
}

.colour-pink {
    color: $main-color;
    text-shadow: 0 3px 3px;
}
